.room-container {
  border: 1px solid rgb(165, 165, 165);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.room-container__header {
  margin-bottom: 0.5rem;
  text-align: left;
}

.room-container__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

@media only screen and (max-width: 700px) {
  .room-container__content {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 700px) {
  .room-container__content {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .room-container__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1100px) {
  .room-container__content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
